<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>
    <div class="row">
      <p class="lead">
        <h2>Welcome <strong>{{authentication.user.displayName}}</strong> to the Hotel Database.</h2>
        <h2>What would you like to do?</h2>
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="hotels.create">Add New Hotel data</a>
        <a class="btn btn-primary btn-lg" ui-sref="hotels.list">Search Hotel data</a>
        <a class="btn btn-primary btn-lg" href="/api/auth/signout" target="_self">Logout</a>
      </p>
    </div>
  </div>
</section>

