<section>
<form name="form" ng-submit="vm.addToCart(form)" novalidate>
  <div class="page-header">
    <h1 ng-bind="vm.product.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.product.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="products.edit({ productId: vm.product._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.product.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.product.user" ng-bind="vm.product.user.displayName"></span>
      <span ng-if="!vm.product.user">Deleted User</span>
    </em>
  </small>
  <div class="row">
     <div class="col-md-2"><h4>Description</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.product.description"></span>
     </div>
  </div>

  <div class="row">
     <div class="col-md-2"><h4>Category</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.product.category.title"></span>
     </div>
  </div>

  <div class="row">
     <div class="col-md-2"><h4>Price</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.product.price | currency"></span>
     </div>
  </div>

  <div class="row">
     <div class="col-md-2"><h4>Size</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.product.size"></span>
     </div>
  </div>

  <div class="row">
     <div class="col-md-2"><h4>Colour</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.product.colour"></span>
     </div>
  </div>

  <div class="row">
     <div class="col-md-2"><h4>Qty</h4></div>
     <div class="col-md-5">
        <select name="qty" id="qty" class="form-control" ng-model="vm.cart.qty">
          <option value="">Please select Qty</option>
          <option ng-repeat="i in vm.getQtyList(vm.product.stock) track by $index" value="{{$index+1}}">{{$index+1}}</option>
        </select>
     </div>
  </div>

  <div>
      <div class="btn-group"> 
          <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
      </div>
  </div>
</form>
</section>
