<section>
  <div class="page-header">
    <h1>Carts</h1>
  </div>
  <div class="list-group" ng-init="total = 0">
    <div ng-repeat="cart in vm.carts" class="list-group-item">
      <div class="row">

      <div class="col-md-2">
        <h4>Product title</h4>
        <span ng-bind="cart.product.title"></span>
       </div>

      <div class="col-md-2">
        <h4>Qty</h4>
        <span ng-bind="cart.qty"></span>
       </div>

      <div class="col-md-2">
        <h4>Price</h4>
        <span ng-bind="cart.product.price | currency"></span>
       </div>

      <div class="col-md-2">
        <h4>Total</h4>
        <span ng-bind="(cart.product.price * cart.qty) | currency"
              ng-init="itemTotal = cart.product.price * cart.qty; $parent.total = $parent.total + itemTotal"></span>
       </div>

      <small class="col-md-2">
        <h4>Created on</h4>
        <span ng-bind="cart.created | date:'mediumDate'"></span>
         by
        <span ng-if="cart.user" ng-bind="cart.user.displayName"></span>
        <span ng-if="!cart.user">Deleted User</span>
       </small>

      <div class="pull-right">
        <a class="btn btn-danger" confirmed-click="vm.deleteCart(cart._id)" ng-confirm-click="Do yo want to delete {{cart.product.title}} ?" style="width:50px;">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
    </div>
  </div>
  <div class="col-md-5 pull-right">
    <h5 ng-show="vm.isFound">Total:
      <span class="pull-right"> {{ total | currency }} </span>
    </h5>
    <h5 ng-show="vm.isFound">Discount Percent {{vm.applyDiscountPercent}} %:
      <span class="pull-right"> {{ (vm.applyDiscountPercent * total / 100) | currency }} </span>
    </h5>
    <h5 ng-show="vm.isFound">Discount Amount:
       <span class="pull-right">  {{ vm.applyDiscountAmount  | currency }} </span>
    </h5>
    <h3 ng-hide="total == 0">Grand Total:
      <span class="pull-right"> {{ total - (vm.applyDiscountPercent * total / 100) - (vm.applyDiscountAmount)  | currency }} </span>
    </h3>
  </div>

  <div class="row" ng-hide="total == 0">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label" for="colour">Voucher code:</label>
        <input name="voucher" type="text" ng-model="vm.voucher" id="voucher" class="form-control" placeholder="Enter Voucher code">
        <a class="btn btn-primary btn btn-xs" ng-click="vm.applyVoucher()" style="width:100px;">Apply voucher</a>
      </div>
    </div>
  </div>
</section>
