<section>
  <div class="page-header">
    <h1 ng-bind="vm.voucher.voucherCode"></h1>
  </div>
  <div class="pull-right" ng-show="vm.voucher.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="vouchers.edit({ voucherId: vm.voucher._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="row">
     <div class="col-md-2"><h4>Description</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.voucher.title"></span>
     </div>
  </div>
  <div class="row">
     <div class="col-md-2"><h4>Discount Percent</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.voucher.discountPercent"></span>
     </div>
  </div>
  <div class="row">
     <div class="col-md-2"><h4>Discount Amount</h4></div>
     <div class="col-md-5">
        <span ng-bind="vm.voucher.discountAmount | currency"></span>
     </div>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.voucher.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.voucher.user" ng-bind="vm.voucher.user.displayName"></span>
      <span ng-if="!vm.voucher.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.voucher.content"></p>
</section>

